*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.backgroundImage{
   max-width: 100%;
   height: 1108px;
   background-image: url("../assets/heroImage1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}

.logoContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.thirdSection{
    width: 100%;
    height: 800px;
    background-color: #F1F1F1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutDesc{
    width: 100%;
    height: 1108px;
    background-color: #edf2f6;

    display: flex;
    justify-content: center;
    align-items: center;
}


.imageHolder1{
    margin-left: 10px;
    height: 500px;
    width: 800px;
    border: solid 1px black;
}

.imageHolder2{
    height: 300px;
    width: 600px;
    position: relative;
    top: 40px;
    left: -80px;
}

.firstSection{
    width: 100%;
    height: 800px;
    background-color: #F1F1F1;

    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px; */
}

#thirdSection{
    width: 100%;
    height: 800px;
    background-color: #F1F1F1;
}

.headerContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}

.galleryContainer{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.secondSection{
    width: 100%;
    height: 600px;
    background-image: url("../assets/outDoorSeatingFinal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

p{
    background-color: rgb(0,0,0,0.4);
    color: white;
    font-size: 1.5rem;
}
.imgContainer1, .imgContainer2, .imgContainer3{
    width: 400px;
    height: 400px;
    margin-top: 10px;
}


.imgContainer1 img, .imgContainer2 img, .imgContainer3 img{
    height: 100%;
    width: 100%;
}


.imgCapHeader{
   margin-top: 10px;
    color: #953611;
    text-align: center;
    font-family: sans-serif;
}

.imgCapSub{
    margin-top: 10px;
    color: gray;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}

.imgHeader{
    color: #953611;
    align-self: flex-start;
    font-family:'Playfair Display', serif;
    margin-top: 60px;
    text-decoration: underline;
}

.containerDiv{
    display: flex;
    margin-top: 10px;
}

.item{
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.item .number2{
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.containerDiv3{
    height: 400px;
}

.item .number3{
    border: 1px solid black;
    height: auto;
    display: flex;
    justify-content: center;
}

h2{
    color: white;
    font-size: 50px;
    font-weight: 900;
    background-color: rgb(0,0,0,0.4);
    text-decoration: underline;

}

.buttonCont{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 12rem;
    padding: 8px 24px;
    cursor: pointer;
    background-color: transparent;
    white-space: nowrap;
    font-size: 2rem;
    position: absolute;
}

button:hover{
    color: white;
    position: relative;
    bottom: 5px;
}

.overLayContainer{
    height: 80%;
    width: 80%;
    border-style: border-box;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
